.grocery-modal__title{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media-sm{
        flex-wrap: wrap;
    }

    &.centered{
        text-align: center;
        padding: 0 20px;
    }
}

.grocery-modal__title .switcher{
    position: relative;

    @include media-sm{
        width: 100%;
    }

    ul{
        display: flex;

        @include media-sm{
            justify-content: center;
        }
    }

    li{
        margin-left: 30px;

        @include media-sm{
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 1em;
        }
    }

    a{
        position: relative;
        font-size: 17px;
        font-weight: 700;
        color: $gray;
        outline: none !important;
        border-bottom: 1px solid transparent;

        &.active{
            color: $primary;
            border-color: $primary;
        }
    }
}

.grocery-modal__data{
    position: relative;
}

.grocery-modal__data-list{
    position: relative;
    display: flex;
    flex-direction: column;

    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    li{
        position: relative;
        width: 50%;
        margin: 10px 0;

        @include media-sm{
            width: 100%;
        }
    }

    .checkbox-group .label{
        display: none;
        padding-left: 30px;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 600;

        @include media-sm{
            display: block;
        }
    }

    .checkbox-group .checker{
        width: 24px;
        height: 24px;
        margin: 0 auto;
        background-color: $dashboard-sidebar;
        border: 0;
    }
    .checkbox-group input:checked ~ .checker{
        background-color: $success;
    }
    .checkbox-group input:checked ~ .checker:after{
        color: $white;
    }

    .btn{
        position: relative;
        margin: 40px auto 0 auto;
        min-width: 200px;
    }
}

.grocery-modal__select-all{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 1em 0;
    font-weight: 700;
    color: $primary;
    background-color: #ebebf2;
    border-radius: 4px;

    .checkbox-group{
        min-height: 24px;
        display: flex;
        align-items: center;
        padding-left: 35px;
    }

    .checkbox-group .checker{
        background-color: transparent;
        border: 1px solid $primary;
    }
    .checkbox-group input:checked ~ .checker{
        background-color: transparent;
    }
    .checkbox-group input:checked ~ .checker:after{
        color: $primary;
        font-weight: normal;
    }
}



















